@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');/*Poppins*/
@import url('fonts/style1.css');
@import url('fonts/style2.css');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #CBDDDD;
}
.upper-container{
    padding: 1.25rem 0 25rem;
    background-color: #00585C;
}
.lowerhalf{
    background-color: #CBDDDD;
}
.navbar{
    font-family: 'Poppins';
    color: white;
}
.container{
    display: flex;
    width: auto;
    padding: 0 10%;
}
.navbar-brand{
    flex: auto;
    font-weight: 500;
    font-size: 28.8px;

}
.navbar-nav{
    flex: auto;
    text-align: center;
    margin: 0.35rem 0;
}

.container a{
    text-decoration: none;
    color: white;
    margin: 0 1rem;
    font-size: 13px;
}
.container a:hover{
    color: #CBDDDD;
}
.navbar-login{
    flex: auto;
    text-align: right;
    display: inline;
}
.btn-nav{
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    background-color: #00585C;
    border-color: white;
    color: white;
    font-family: 'Poppins';
    border-style: solid;
    font-size: 14px;
    font-weight: 600;
    border-width: 1;
}
.btn-nav:hover{
    border-color: #CBDDDD;
    color: #CBDDDD;
    cursor: pointer;
}
.top-grid{
    padding-top: 5rem;
    
}
.top-row{
    display: flex;
    width: auto;
    padding: 0 8% 0 10%;
}

.top-col{
    flex: 1;
    justify-content: right;
    width: 50%;
    height:50;
    padding-top: 2%;

}
.big-text-top{
    font-family: 'Recoleta';
    font-size: 40px;
    color: white;
    padding: 0.5rem 3.25rem 0 0;
}

.small-text-top{
    font-family: 'Poppins';
    color: white;
    font-size: 13px;
    padding: .5rem 4rem 1.5rem 0;
} 

.btn-grid{
    padding: 0.6rem 2rem;
    border-radius: 1.5rem;
    background-color: white;
    border-width: 1;
    border-color: white;
    color: black;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
}
.btn-grid:hover{
    color: #00585C;
    cursor: pointer;
}
.top-col > img{
    border: solid;
    border-color: white;
    border-width: 5;
    border-radius: 5%;
    width: 20rem;
    float: right;
}
.big-text-bottom{
    font-family: 'Recoleta';
    font-size: 40px;
    text-align: center;
    padding-top: 2.5rem;
    text-align: center;
}

.small-text-bottom{
    font-family: 'Poppins';
    font-size: 13px;
    text-align: center;
    width: 30rem;
    margin: auto;
    letter-spacing: -0.025rem;
    padding-top: 0.8rem;
}

.bottom-row{
    padding: 2.5rem 10% 0;
}
.bottom-col{
    float: left;
    width: 33%;
    text-align: center;
}
.card{
    padding: 0 0.5rem;
    margin: auto;
}
.card-content{
    border: solid;
    background: white;
    border-color: white;
    font-family: 'Caros Bold';
    font-size: 52px;
    font-weight: 500;
    padding: 1.3rem 0;
    border-radius: 4rem;
    
}
.card-text{
    font-family: 'Poppins';
    font-size: 13px;
    padding: 2.5rem 0 5rem;
}
@media (max-width: 420px){
    .container a{
        display: none;
    }
    .top-row{
        display: block;
        padding-bottom: 18rem;
    }
    .top-col{
        width: 82%;
        height: 275px;
        position: relative;
        margin: auto;
        text-align: center;
    }
    .top-col:nth-child(1){
        top: 250;
        
    }
    .top-col:nth-child(2){
        position: absolute;
        top: 100;
    }
    .big-text-top{
        font-size: 40px;
        padding: 0.5rem 0 0 0;
    }
    .small-text-top{
        font-size: 13px;
        padding: .5rem 0 1.5rem 0;
    } 
    .top-col > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card{
        width: 80%;
    }
    .bottom-col{
        width: 100%;
        text-align: center;
    }
    .card-text{
        padding-bottom: 2rem;
    }
    .big-text-bottom{
        padding: 5% 10% 0;
    }
    .small-text-bottom{
        width: auto;
        padding: 0 10%;
    }
}